<mat-card>
    <mat-card>
        <mat-card-header>
                <h2>
                    User Profile:
                </h2>
        </mat-card-header>
        <mat-card-content>
            <p>Username: {{userData.Username}}</p>
            <p>Email: {{userData.Email}}</p>
            <p>Birthday: {{userData.Birthday}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <h3>Update Profile:</h3>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-label>Username</mat-label>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="userFormValues.Username"
                        placeholder="Username"
                        name="Username"
                        type="text"
                    />
                </mat-form-field>
                <br>
                <mat-label>Email</mat-label>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="userFormValues.Email"
                        placeholder="Email"
                        name="Email"
                        type="email"
                    />
                </mat-form-field>
                <br>
                <mat-label>Birthday</mat-label>
                <mat-form-field>
                    <input
                        matInput
                        [(ngModel)]="userFormValues.Birthday"
                        placeholder="Birthday"
                        name="Birthday"
                        type="date"
                        />
                </mat-form-field>
            </form>
            <mat-card-actions>
                <button
                    mat-raised-button
                    (click)="editUser()"
                    color="primary"
                    type="submit"
                >
                    Submit
                </button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <div class="favs-container">
        <h3>Your Favorite Movies: </h3>
        <div class="fav-movies">
            <mat-card *ngFor="let movie of this.FavoriteMovies; let i = index" style="flex: 1 1 auto;">
                <mat-card-header>
                    <mat-card-title>{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button
                        mat-button
                        color="primary"
                        (click)="openGenreDialog(movie.Genre.Name, this.movie.Genre.Description)"
                    >
                        Genre
                    </button>
                    <button
                        mat-button
                        color="primary"
                        (click)="openDirectorDialog(movie.Director.Name, this.movie.Director.Bio, movie.Director.Birth)"
                    >
                        Director
                    </button>
                    <button
                        mat-button
                        color="primary"
                        (click)="openDescriptionDialog(movie.Description)"
                    >
                        Description
                    </button>
                    <button
                        mat-icon-button
                        class="heart-icon"
                        (click)="isFavorite(movie) ? removeFavoriteMovie(movie) : addFavoriteMovie(movie)"
                    >
                        <mat-icon>{{isFavorite(movie) ? "favorite" : "favorite_border"}}</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</mat-card>